<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Café Revolución</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Empieza menú -->
<div class='navbar navbar-fluid-top'>
    <div class='container'>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">  
              <span class="icon-bar"></span>  
              <span class="icon-bar"></span>  
              <span class="icon-bar"></span>  
      </a>
      <div class='nav-collapse'>
        <ul class="nav pull-right">                 
          <% if user_signed_in? %>
          <li class="disabled"><a href="#">Signed in as <%= current_user.email %>. Not you?</a></li>
		  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>  
</div>
<!-- Termina menú -->

<!-- Comineza contenido -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%= yield %>
<!-- Termina contenido -->

    <!-- Le javascript  -->
    <script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-transition.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-alert.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-modal.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-scrollspy.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-tab.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-tooltip.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-popover.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-button.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-collapse.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js"></script>  
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
