<% provide(:title, @user.username) %>
<div class="container">
  <div class="inner-940">
    <div class="row-fluid">
      <div class="span2">
      <h4>Hola! <%= @user.username %> </h4>
  	   <li><%= link_to "Home", root_path %></li>
      </div>
      <div class="span10">
      <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
              <!-- ESTO NO ESTA BIEN HECHO DEBEMOS LLAMAR LA FORMA DESDE EL SCAFFOLD POR QUE SI NO SE VIOLA EL PRINCIPIO DE DRY! -->
              <table>
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Body</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @posts.each do |post| %>
                    <tr>
                      <td><%= @user.username %></td>
                      <td><%= post.title %></td>
                      <td><%= post.category %></td>
                      <td><%= post.body %></td>
                      <td><%= link_to 'Show', post %></td>
                      <td><%= link_to 'Edit', edit_post_path(post) %></td>
                      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <!-- SI, HASTA ACA ESTA MAL!!!!!!!!!! -->
        <%= will_paginate @posts %>
      <% else %>
      <h3>Aún no existen escritos de esta persona</h3>
      <% end %>
      <li><%= link_to "Escribir algo nuevo", new_post_path %></li>
      </div>
    </div>
  </div>
</div>