<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Posts:</b> <%= @user.posts.count %></span>
    </section>
    <section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
          <td><%= user.username %></td>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
      <% @users.each do |user| %>
        <td><%= user.username %></td>
      <% end %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>